* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    min-height: 100vh;
}

/* nav */

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 15px 20px;
    border-bottom: 2px solid black;
}

.logo {
    
}

.links {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    list-style-type: none;
}

.links > li {
    position: relative;
}

.links > li::after {
    position: absolute;
    bottom: 0;
    transform: translateY(0.1rem);
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;

    transition: opacity 0.3s;
}

.links > li:hover::after {
    opacity: 1;
}

.links > li > * {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
}  

.shopping-cart {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.shopping-cart > * {
    display: flex;
    align-items: center;
}

#cart-img {
    width: 28px;
    height: 28px;
}

.num-cart-products {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d6546a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transform: translate(30%, -30%);
}

/* end nav */

/* home */
.banner {
    height: 400px;
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px 10px 10px 50px;
}

.banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(70deg, #69b7eb, #b3dbd3, #f4d6db);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1;
    flex: 0 1 max(250px, 15%);
    max-height: 75%;
}

.home-heading h1 {
    font-size: 2.5rem;
}

#shop-now {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #e6a3ae;
    width: 80px;
    margin-top: 20px;

    color: black;
    text-decoration: none;
}
/* end home */

/* shop */
.shop {
    padding: 20px;
    text-align: center;

    
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf744 1px, #e5e5f711 1px);
    background-size: 20px 20px;

    height: 100vh;
}

.shop h1 {
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    column-gap: 15px;
    row-gap: 15px;
    text-align: left;
}

.product {
    display: flex;
    flex-direction: column;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: white;
    border: 2px solid #9BC4CB;
}

.product:hover {
    cursor: pointer;
}

.product-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-bottom: 2px solid #9BC4CB;
}

.product-image img {
    height: 90%;
    max-width: 90%;
    width: auto;
}

.info {
    padding: 12px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-overflow: ellipsis;
}

.info-header h3 {
    font-size: 1.1rem;
    font-weight: 600;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3; /* number of lines before cutting off */
}
.info-header p {
    font-size: 1.1rem;
    font-weight: 400;
    flex-shrink: 0; /* prevent p from shrinking */
}


/* end shop */

/* start cart */

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cart-items {
    display: flex;
    align-items: start;
    gap: 30px;
}

.cart > h1 {
    margin: 20px 0;
}

.cart-products {
    max-width: 1200px;
    list-style-type: none;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 10px 10px 20px -15px #323232;
    transition: box-shadow 0.3s ease-in;
}

.cart-products:hover {
    box-shadow: 10px 10px 19px -12px #323232;
}

.cart-product {
    display: flex;
    height: 100px;
    gap: 20px;
    padding: 10px 20px;
}

.cart li:nth-child(even) {
    background-color: #bfd5e0;
}

.cart li:not(:last-child) {
    border-bottom: 2px solid black;
}

.cart li:not(:nth-child(even)) {
    background-color: #bfc2e0;
}

.cart-product-info {
    flex: 1;
}

.cart-product-info h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.cart-product-info p {
    font-size: 1rem;
}

.cart-product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-product-actions input {
    width: 40px;
    padding: 5px 10px;
}

.cart-product-actions button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-self: center;
    align-items: center;
}

.cart-product-actions img {
    width: 25px;
    height: 25px;
}

.cart-product-actions button:hover {
    cursor: pointer;
}

.checkout {
    border-radius: 10px;
    background-color: #ebebeb;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 200px;
}

.checkout h2 {
    font-size: 1.2rem;
}

.pricing-section {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid black;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.checkout-button {
    float: right;
    border: 1px solid black;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.empty-cart-message {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
}

/* end cart */

/* start product page */

.back-to-shop {
    font-size: 2rem;
    background: transparent;
    border: none;
    font-weight: bolder;
    margin: 10px 20px;
}

.back-to-shop:hover {
    cursor: pointer;
}

.product-page-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-images img {
    max-width: 450px;
    max-height: 450px;
}

.product-info > * {
    margin-bottom: 20px;
}

#product-price {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
}

.product-actions {

}

#product-amount {
    padding: 5px 10px;
    width: 50px;
    margin-right: 30px;
    font-size: 1rem;
}

.product-actions button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    background-color: #e6a3ae;
}

.product-actions button:hover {
    cursor: pointer;
}

/* end product page */

/* start footer */
footer {
    width: 100%;

    background-color: #323232;
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}


/* end footer */