* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

/* nav */

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 15px 20px;
    border-bottom: 2px solid black;
}

.logo {
    
}

.links {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    list-style-type: none;
}

.links > li {
    position: relative;
}

.links > li::after {
    position: absolute;
    bottom: 0;
    transform: translateY(0.1rem);
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;

    transition: opacity 0.3s;
}

.links > li:hover::after {
    opacity: 1;
}

.links > li > * {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
}  

.shopping-cart {
    display: flex;
    justify-content: right;
    align-items: center;
}

.shopping-cart > * {
    display: flex;
    align-items: center;
}

#cart-img {
    width: 28px;
    height: 28px;
}

/* end nav */

/* home */
.banner {
    height: 400px;
    position: relative;

    display: flex;
    justify-content: space-around;

    padding: 10px 10px 10px 50px;
}

.banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(70deg, #69b7eb, #b3dbd3, #f4d6db);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1;
}

.home-heading h1 {
    font-size: 2.5rem;
}

#shop-now {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #e6a3ae;
    width: 80px;
    margin-top: 20px;

    color: black;
    text-decoration: none;
}
/* end home */

/* shop */
.shop {
    padding: 20px;
    text-align: center;

    
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf744 1px, #e5e5f711 1px);
    background-size: 20px 20px;
}

.shop h1 {
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    column-gap: 15px;
    row-gap: 15px;
    text-align: left;
}

.product {
    display: flex;
    flex-direction: column;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    background-color: white;
    border: 2px solid #9BC4CB;

}

.product-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-bottom: 2px solid #9BC4CB;
}

.product-image img {
    height: 90%;
    max-width: 90%;
    width: auto;
}

.info {
    padding: 12px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-header h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.info-header p {
    font-size: 1rem;
    font-weight: 500;
}



/* end shop */

/* start footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #323232;
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}


/* end footer */